<com.redhat.qe.config.Configuration>
  <restApi>
    <url>https://localhost:443/api</url>
    <credentials>
      <username>admin@internal</username>
      <password>redhat</password>
    </credentials>
  </restApi>
  <shellHost>
    <hostname>rhsc-qa9</hostname>
    <credentials>
      <username>root</username>
      <password>redhat</password>
    </credentials>
    <port>22</port>
  </shellHost>
</com.redhat.qe.config.Configuration>