<com.redhat.qe.config.Configuration>
  <restApi>
    <url>https://localhost:443/api</url>
    <credentials>
      <username>admin@internal</username>
      <password>redhat</password>
    </credentials>
  </restApi>
  <shellHost>
    <hostname>10.70.35.103</hostname>
    <credentials>
      <username>root</username>
      <password>redhat</password>
    </credentials>
    <port>22</port>
  </shellHost>
  <cluster>
    <name>myCluster</name>
  </cluster>
  <hosts>
    <com.redhat.qe.model.Host>
      <name>node1</name>
      <address>10.70.35.151</address>
      <rootPassword>rhscauto</rootPassword>
    </com.redhat.qe.model.Host>
    <com.redhat.qe.model.Host>
      <name>node2</name>
      <address>10.70.35.96</address>
      <rootPassword>rhscauto</rootPassword>
    </com.redhat.qe.model.Host>
  </hosts>
</com.redhat.qe.config.Configuration>
