<com.redhat.qe.config.Configuration>
  <restApi> 
    <!-- this defines how to access RHS-C's rest api -->

    <hostname><!-- TODO replace with the domain of RHS-C's rest-api --></hostname> 
    <!-- if RHS-C's rest api urls is https://www.foo.bar/api/ of hostname is should be www.foo.bar -->

    <credentials>
      <username>admin@internal</username> <!-- default admin username is admin@internal -->
      <password><!-- TODO replace me with rhsc admin@internal password --></password>
    </credentials>
  </restApi>

  <shellHost>
    <!-- this defines ssh credentials and details to a machien hosting the rhsc-cli -->
    <!-- this is commonly the same machines where rhsc is installed -->
    <hostname>rhsc-shell-host</hostname> <!-- TODO replace -->
    <credentials>
      <username>root</username>
      <password><!-- TODO replace with root password of machine hosting rhsc  --></password>
    </credentials>
    <port>22</port>
  </shellHost>

  <cluster>
    <name>myCluster</name>
    <version>
      <major>3</major>
      <minor>3</minor>
    </version>
    <datacenter>
      <name>Default</name>
    </datacenter>
    <virtService>false</virtService>
    <glusterService>true</glusterService>
    <cpu>
      <id>Intel SandyBridge Family</id>
    </cpu>
    <description>cluster created by automation</description>
  </cluster>
  <hosts>
    <com.redhat.qe.model.Host>
      <name>node1</name>
      <address>rhs-node-a</address> <!-- TODO replace -->
      <rootPassword><!-- TODO replace --></rootPassword>
      <cluster reference="../../../cluster"/>
      <reboot>false</reboot>
    </com.redhat.qe.model.Host>
    <com.redhat.qe.model.Host>
      <name>node2</name>
      <address>rhs-node-b</address> <!-- TODO replace -->
      <rootPassword><!-- TODO replace --></rootPassword>
      <cluster reference="../../../cluster"/>
      <reboot>false</reboot>
    </com.redhat.qe.model.Host>
  </hosts>
</com.redhat.qe.config.Configuration>
